<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726969751848-kp7q9qu71hvbdvdg9o8mbsg3ocn4nsmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726969751848-kp7q9qu71hvbdvdg9o8mbsg3ocn4nsmp</string>
	<key>API_KEY</key>
	<string>AIzaSyAY1XtSv41bX-Ow1pnTVaUkp0-F2VYQvcM</string>
	<key>GCM_SENDER_ID</key>
	<string>726969751848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Eric-Feng.Pikkups</string>
	<key>PROJECT_ID</key>
	<string>pikkups-5e660</string>
	<key>STORAGE_BUCKET</key>
	<string>pikkups-5e660.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726969751848:ios:ffcd05c075ca505bd1181d</string>
</dict>
</plist>